<dialog #hotkeysDialog>
  <section class="p-4 flex flex-col gap-4">
    <section class="flex flex-row justify-between border-b pb-2">
      <p class="text-xl font-medium">Hotkeys cheat sheet</p>
      <button class="fa-icon fa-solid fa-close text-2xl text-gray-600" autofocus (click)="closeDialog()" title="Close"></button>
    </section>

    <section class="flex flex-col gap-4">
      <article class="flex flex-row gap-4">
        <p class="w-[150px]">Ctrl/Command + H</p>
        <p>👉</p>
        <p>Home</p>
      </article>

      <article class="flex flex-row gap-4">
        <p class="w-[150px]">Ctrl/Command + U</p>
        <p>👉</p>
        <p>Users</p>
      </article>

      <article class="flex flex-row gap-4">
        <p class="w-[150px]">Ctrl/Command + S</p>
        <p>👉</p>
        <p>Settings</p>
      </article>

      <article class="flex flex-row gap-4">
        <p class="w-[150px]">Ctrl/Command + K</p>
        <p>👉</p>
        <p>Hotkeys Cheat Sheet</p>
      </article>
    </section>
  </section>
</dialog>
