@defer {
  <!-- Board > Toolbar -->
  <section class="flex justify-between items-center">
    <section class="flex flex-row gap-2 items-center">
      <mat-icon>task_alt</mat-icon>
      <p class="text-2xl font-bold">{{ board.title }}</p>
    </section>
    <input type="text" placeholder="Search tasks" class="border rounded px-4 py-2 min-w-[200px] outline-none" name="searchKeyword" [formControl]="searchControl" />
  </section>

  <!-- Board > Columns -->
  <section cdkDropListGroup class="h-full grid grid-cols-3 gap-4 overflow-auto">
    @for (column of board.columns(); track column.name) {
      @if (column) {
        <!-- Column -->
        <section class="overflow-auto flex flex-col gap-4">
          <!-- Column > Header -->
          @if (column.name === 'todo') {
            <section class="flex flex-row items-center justify-between gap-2 border-t-8 rounded-t-md border-gray-600 p-2">
              <p class="text-lg font-semibold text-gray-600">To do - {{ column.tasks().length }} item(s)</p>
              <mat-icon class="cursor-pointer" matTooltip="Add task" (click)="addTask()">add_task</mat-icon>
            </section>
          }

          @if (column.name === 'inprogress') {
            <section class="flex flex-row items-center justify-between gap-2 border-t-8 rounded-t-md border-blue-600 p-2">
              <p class="text-lg font-semibold text-blue-600">In progress - {{ column.tasks().length }} item(s)</p>
            </section>
          }

          @if (column.name === 'done') {
            <section class="flex flex-row items-center justify-between gap-2 border-t-8 rounded-t-md border-green-600 p-2">
              <p class="text-lg font-semibold text-green-600">Done - {{ column.tasks().length }} item(s)</p>
            </section>
          }
          <!-- Column > Tasks -->
          <section class="h-full overflow-auto flex flex-col gap-4 p-2" cdkDropList [cdkDropListData]="column.tasks()" (cdkDropListDropped)="drop($event)">
            @for (task of column.tasks(); track task._id) {
              @if (task) {
                <mat-card class="cursor-move" @fadeIn cdkDrag>
                  <!-- Task > Toolbar -->
                  <mat-card-header class="flex flex-row items-center justify-between mb-4">
                    <mat-card-title>
                      <span class="text-[1.2rem] font-semibold">{{ task.title }}</span>
                    </mat-card-title>
                    <!-- Task > More actions -->
                    <mat-icon class="cursor-pointer" matTooltip="More actions" [matMenuTriggerFor]="menu">more_vert</mat-icon>
                    <mat-menu #menu="matMenu">
                      <!-- Task > Action > Move to next status -->
                      @if (column.name === 'todo') {
                        <button mat-menu-item (click)="updateTaskStatus(task, 'inprogress')">
                          <mat-icon>arrow_forward</mat-icon>
                          <span>Move to In progress</span>
                        </button>
                      }
                      @if (column.name === 'inprogress') {
                        <button mat-menu-item (click)="updateTaskStatus(task, 'done')">
                          <mat-icon>arrow_forward</mat-icon>
                          <span>Move to Done</span>
                        </button>
                      }
                      <!-- Task > Action > Delete -->
                      <button mat-menu-item (click)="deleteTask(task)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                      </button>
                    </mat-menu>
                  </mat-card-header>
                  <!-- Task > Content -->
                  <mat-card-content>
                    <p class="pb-2">{{ task.description }}</p>
                  </mat-card-content>
                  <!-- Task > Footer -->
                  <mat-card-actions>
                    <section class="flex flex-row items-center gap-2">
                      <img class="w-4 h-4 rounded-[50%]" [src]="task.assignee.avatar" alt="" srcset="" />
                      <p class="text-sm assignee-status --active" matBadge="1" matBadgeSize="small" matBadgePosition="below before">{{ task.assignee.name }}</p>
                    </section>
                  </mat-card-actions>
                </mat-card>
              }
            }
          </section>
        </section>
      }
    }
  </section>
} @placeholder (minimum 1000ms) {
  <section class="grid grid-cols-4 gap-4">
    <ngx-skeleton-loader count="1" appearance="line" [theme]="{ height: '54px' }" class="col-span-3" />
    <ngx-skeleton-loader count="1" appearance="line" [theme]="{ height: '54px' }" />
  </section>

  <section class="h-full grid grid-cols-3 gap-4">
    <section class="grid grid-rows-12 gap-4">
      <ngx-skeleton-loader count="1" appearance="line" [theme]="{ height: '100%' }" class="row-span-1" />
      <ngx-skeleton-loader count="1" appearance="line" [theme]="{ height: '100%' }" class="row-span-11" />
    </section>
    <section class="grid grid-rows-12 gap-4">
      <ngx-skeleton-loader count="1" appearance="line" [theme]="{ height: '100%' }" class="row-span-1" />
      <ngx-skeleton-loader count="1" appearance="line" [theme]="{ height: '100%' }" class="row-span-11" />
    </section>
    <section class="grid grid-rows-12 gap-4">
      <ngx-skeleton-loader count="1" appearance="line" [theme]="{ height: '100%' }" class="row-span-1" />
      <ngx-skeleton-loader count="1" appearance="line" [theme]="{ height: '100%' }" class="row-span-11" />
    </section>
  </section>
}
