:root {
  --font-size: 16px;
  --font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --background-color: #fff;

  // Override global variables
  -webkit-tap-highlight-color: transparent;

  // Override material variables
  --mat-menu-item-label-text-size: 1rem;
  --mat-table-row-item-label-text-size: 1rem;
  --mat-table-header-headline-size: 1rem;
  --mdc-filled-button-label-text-size: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #212121;
  }
}
