*,
*::before,
*::after {
  box-sizing: border-box;
  letter-spacing: normal;
}

.fa-icon {
  @apply w-8 h-8 flex items-center justify-center;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
}
