<mat-toolbar color="primary" class="!h-full !w-full flex flex-row justify-between items-center !px-4">
  <section class="flex flex-row items-center gap-4">
    <button mat-icon-button matTooltip="Menu" (click)="toggleMenu()"><mat-icon>menu</mat-icon></button>
    <p>u360 User</p>
  </section>
  <button mat-icon-button matTooltip="Account" [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon></button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item *ngIf="!currentUser()" [routerLink]="['/sign-in']">Sign in</button>
  <ng-container *ngIf="currentUser()">
    <button mat-menu-item>{{ currentUser().name }} | {{ currentUser().role | uppercase }}</button>
    <button mat-menu-item [routerLink]="['/settings']">Settings</button>
    <button mat-menu-item (click)="signOut()">Sign out</button>
  </ng-container>
</mat-menu>
