<div class="h-full grid grid-rows-12 gap-4">
  <mat-toolbar class="!h-full">
    <section class="w-full flex flex-row justify-between items-center">
      <p>Filters</p>
      <button mat-icon-button matTooltip="Close"><mat-icon>clear</mat-icon></button>
    </section>
  </mat-toolbar>

  <section class="row-span-10 px-4 flex flex-col gap-4 overflow-auto">
    <mat-form-field>
      <mat-label>Roles</mat-label>
      <mat-select [formControl]="selectedRoles" multiple>
        <mat-select-trigger>
          {{ selectedRoles.value?.[0] || '' }}
          @if ((selectedRoles.value?.length || 0) > 1) {
            <span class="example-additional-selection"> (+{{ (selectedRoles.value?.length || 0) - 1 }} {{ selectedRoles.value?.length === 2 ? 'other' : 'others' }}) </span>
          }
        </mat-select-trigger>
        @for (role of userRoles; track role) {
          <mat-option [value]="role">{{ role }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </section>

  <section class="px-4 pb-4 flex flex-row gap-4 items-end justify-end">
    <button mat-flat-button color="primary">Apply</button>
    <button mat-flat-button>Reset</button>
  </section>
</div>
