@use '@angular/material' as mat;

@include mat.core();

// Define a light theme
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette),
      accent: mat.define-palette(mat.$purple-palette),
      warn: mat.define-palette(mat.$red-palette),
    ),
    // Only include `typography` and `density` in the default dark theme.
    typography:
      mat.define-typography-config(
        $font-family: var(--font-family),
      ),
    density: 0,
  )
);

// Define a dark theme
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$purple-palette),
      accent: mat.define-palette(mat.$grey-palette),
      warn: mat.define-palette(mat.$red-palette),
    ),
  )
);

// Apply the light theme by default
@include mat.core-theme($light-theme);
@include mat.all-component-themes($light-theme);

// Apply the dark theme only when the user prefers dark themes.
@media (prefers-color-scheme: dark) {
  // Use the `-color` mixins to only apply color styles without reapplying the same
  // typography and density styles.
  @include mat.core-color($dark-theme);
  @include mat.all-component-colors($dark-theme);
}
